{% extends 'base.html' %}

{% block content %}
<div class="grid">
<div class="container rounded bg-white mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="">
                        <div class="top-container">
                            <h6><a href="{% url 'user-info' user.pk %}">Back to profile</a></h6>__|__
                            <h6><a href="{% url 'home' %}">Back to home</a></h6>
                        </div>
                        <h4>Изменение данных</h4>

                    </div>
                    <div class="row mt-2">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="col-md-6"><input type="text" class="form-control" id="username" placeholder="Username" required></div>
                            <div class="col-md-6"><input type="text" class="form-control" id="tele_username" placeholder="Telegram" required></div>
                        <div class="col-md-6"><input type="text" class="form-control" id="email" placeholder="Email" required></div>
                        <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                        </form></div>
                </div>
            </div>
        </div>
    </div>

<a href="{% url 'change_password' %}">Reset password</a>
</div>
{% endblock content %}

